<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.dao.ArticleDao">

    <resultMap id="ArticleBaseMap" type="ssm.model.Article">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result property="content" column="content" jdbcType="VARCHAR"/>
        <result property="author" column="author" jdbcType="VARCHAR"/>
        <result property="title" column="title" jdbcType="VARCHAR"/>
        <result property="summary" column="summary" jdbcType="VARCHAR"/>
        <result property="keywords" column="keywords" jdbcType="VARCHAR"/>
        <result property="publishTime" column="publishTime" jdbcType="TIMESTAMP"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="dictionaryId" column="dictionaryId" jdbcType="BIGINT"/>
        <result property="status" column="status" jdbcType="BIGINT"/>
    </resultMap>
    <insert id="addContent">
        INSERT INTO article(content)VALUES (#{content})
    </insert>
    <select id="getContent" resultMap="ArticleBaseMap">
        select * FROM article
        WHERE id = #{id}
    </select>

    <select id="getArticles" resultMap="ArticleBaseMap">
        SELECT * FROM article
    </select>

    <delete id="delArticle" >
        DELETE FROM article
         WHERE id = #{id}
    </delete>
    <insert id="addArticle">
        INSERT INTO article(title,keywords,dictionaryId,summary,content,publishTime,userId,author,status) VALUES (#{title},#{tags},
        #{type},#{summary},#{content},#{publishTime},#{u.id},#{u.username},1)
    </insert>

    <select id="getDrafts" resultMap="ArticleBaseMap">
        SELECT * FROM article
        WHERE status = 0
    </select>

    <delete id="delDraft">
        DELETE FROM article
        WHERE id = #{id}
    </delete>

    <select id="getLastArticles" resultMap="ArticleBaseMap">
       SELECT title FROM article
        ORDER by publishTime DESC  LIMIT 5
    </select>
</mapper>