<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ssm.dao.UserDao">

    <resultMap id="UserBaseMap" type="ssm.model.User">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="nickname" column="nickname" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="frozen" column="frozen" jdbcType="INTEGER"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="role" column="role" jdbcType="INTEGER"/>
        <result property="forgetCode" column="forgetCode" jdbcType="VARCHAR"/>
        <result property="forgetDuration" column="forgetDuration" jdbcType="DATE" javaType="java.util.Date"></result>
    </resultMap>
    <select id="getUser" resultMap="UserBaseMap">
        select * FROM  lovej_users
        WHERE username = #{userName } AND password = #{password}
    </select>

    <update id="updateUser">
        update lovej_users set password = #{password}
        WHERE id = #{id}
    </update>

    <select id="getAllUsers" resultMap="UserBaseMap">
        SELECT * FROM lovej_users
    </select>
</mapper>